<md-content
  layout="row"
  layout-align="space-around"
  layout-padding="layout-padding"
  ng-cloak="ng-cloak"
  class="login-form"
>
  <md-card
    flex="flex"
    flex-gt-sm="50"
    flex-gt-md="40"
    class="md-whiteframe-6dp"
  >
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs
        md-dynamic-height
        md-border-bottom
        md-selected="$ctlr"
      >
        <md-tab label="Sign in">
          <md-content class="md-padding">
            <input
              type="text"
              ng-model="$ctrl.email"
            >
            <input
              type="password"
              ng-model="$ctrl.password"
            >
            <md-button ng-click="$ctrl.signIn($ctrl.email, $ctrl.password)">Login</md-button>
          </md-content>
        </md-tab>
        <md-tab label="Sign Up">
          <md-content class="md-padding">
            <input
              type="text"
              ng-model="$ctrl.email"
            >
            <input
              type="password"
              ng-model="$ctrl.password"
            >
            <md-button ng-click="$ctrl.signIn($ctrl.email, $ctrl.password)">Login</md-button>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Not Useful
      </md-button>
      <md-button
        ng-click="answer('useful')"
        style="margin-right:20px;"
      >
        Useful
      </md-button>
    </md-dialog-actions>
    </form>
  </md-card>
</md-content>